p{
    color: blueviolet;
    background-color: aqua;
}

.a{
    color: brown;
    background-color: aquamarine;
}

#jk{
    background-color: rgb(8, 230, 156);
    font-size: large;
}
div{
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 20px;
    border: 5px color(srgb rgba(5, 19, 69, 0.948) green blue) solid
}