.container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 600px;
            margin: 50px auto;
            background: #fff;
        }
        .block-heading {
            font-size: 1.6em;
            font-weight: bold;
        }
        .main-title {
            background: #d4ecfa;
            font-size: 2em;
            font-weight: bold;
            padding: 12px 0;
            display: block;
        }
        .description {
            background: #ddf8d7;
            color: #276730;
            padding: 10px;
            margin-top: 10px;
            display: block;
        }
        .highlight {
            color: #1877b2;
            font-weight: bold;
        }